
@font-face {
    font-family: 'scoreBoard';
    src: url('/fonts/Digital\ Dismay.otf');
}

body {
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

#parentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.playerButtons {
    width: 175px;
    height: 250px;
    padding: 30px;
    top: 50%;
}

#gameButtons {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

#score {
    position: absolute;
    top: -50%;
    width: 100%;
}

#scoreCards {
    display: flex;
    text-align: center;
    margin: 10px auto;
    width: 33%;
}

.scoreFloat {
    margin: 0 auto;
    font-family: 'scoreBoard';
    font-size: 30px;
}

.scoreBoardTitle {
    font-family: sans-serif;
}

#choicesContainer {
    width: 390px;
}

#player {
    display: inline-block;
    padding: 100px 10px;
    width: 175px;
    height: 200px;
    float: left;
    margin: 0 auto;
    text-align: center;
}

#computer {
    display: inline-block;
    padding: 100px 10px;
    width: 175px;
    height: 200px;
    float: left;
    margin: 0 auto;
    text-align: center;
}

#player img{
    display: inline-block;
    padding: 10px 0px;
    width: 175px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

#computer img {
    display: inline-block;
    padding: 10px 0px;
    width: 175px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

#roundNum {
    font-size: 30px;
}